.results-body {
    width:100px;
    text-decoration: none;
}

.results-list {
    width: 60%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #cbbcbc;
    border-radius: 20px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
}